@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --body-color:#212121;
    --accent-color:#2196F3;
    --primary-white-color:#FFFFFF;
    --second-color:#757575;
    --background-color:#2F303A;
    --color-contact:rgba(255, 255, 255, 0.6);
    --button-color:#F5F4FA;
    
}
body {
    font-family:Roboto,sans-serif;
    /* font-weight: bold; */
    color:var(--body-color);
    font-size: 14px;
    letter-spacing: 0.03em;
} 
                /* header */
.logo {
    font-size: 26px;
    line-height: 1.19;
    color:var(--body-color);
    font-family: Raleway;
    letter-spacing: 0.03em;
}
.logo-blue {
    color:var(--accent-color);
    font-size: 26px;
    line-height: 1.19;
    font-family: Raleway;
    letter-spacing: 0.03em;
}
.logo-white {
    color:var(--primary-white-color);

}
a {
    text-decoration: none;
}
ul {
        list-style: none;
} 

.header-nav {
    color:var(--body-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;
}
.header-btn-black{
    color:var(--body-color);
}
.header-btn{
    color:var(--accent-color);
    background-color: var(--primary-white-color);
}
/* .header-btn:hover,
.header-btn:hover{
    text-decoration: underline;
} */
.header-grey{
    color:var(--second-color);
}
.header-grey:hover,
.header-grey:focus{
    color:var(--accent-color);
}
                /* main */
.main-bg{
    background-color: var(--background-color);
}

.main-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--primary-white-color);
}
                .main-btn {
    cursor:pointer;
    font-size: 16px;
    line-height: 1.62;
    text-align: center; 
    
}
.main-btn-style {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height:calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--body-color);
    border: 4px solid var(--button-color);
    background-color: var(--button-color);
    border-radius: 4px;
}
.main-btn-style:hover,
.main-btn-style:focus {
    color:var(--primary-white-color);
    background-color: var(--accent-color);
    border: 4px solid var(--accent-color);
    border-radius: 4px;
}
                /* section */
.section-skills h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--body-color);
}
.section-skills p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color:var(--second-color);
}
.section-gallery h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--body-color);
}
.section-team {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--body-color); 
}
.section-team h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--body-color);
}
.section-team p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--second-color);
}
.section {
    color:var(--primary-white-color);
    cursor:pointer;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    font-style:normal;
}
.section-title{
    color:var(--body-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.section-text{
    color:var(--second-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}
                /* footer */

.footer {
    font-style:normal;
    background-color: var(--background-color);
    color:var(--body-color);
    width: 100%;
    height: 252px;
    font-family: Raleway;
}

.footer-logo{
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height:1.19;
    letter-spacing: 0.03em;
    color:var(--body-color);
}
.address-map {
    color:var(--primary-white-color);
}
.address-map{
    color:var(--primary-white-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.address-contact {
    color: var(--color-contact);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}


             /* Flexbox */

/* reset */
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
ul,ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color:currentColor;
}
button {
    cursor: pointer;
}


