@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --body-color:#212121;
    --accent-color:#2196F3;
    --primary-white-color:#FFFFFF;
    --second-color:#757575;
    --background-color:#2F303A;
    --color-contact:rgba(255, 255, 255, 0.6);
    --button-color:#F5F4FA;
    /* Other */
    --items: 3;
    --indent: 30px;


}
body {
    font-family:Roboto,sans-serif;
    /* font-weight: bold; */
    color:var(--body-color);
    font-size: 14px;
    letter-spacing: 0.03em;
    
} 
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    outline: solid red;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
 
    /* Flex $ Gap  */
.card-set {
display: flex;
flex-wrap: wrap;
gap:var(--indent);
}
.card-set-item {
    flex-basis: calc(100% - (var(--indent)-1 / var(--indent)) );
}
.list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

             /* Flexbox */

/* reset */
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
img{
    display: block;
}
ul,ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color:currentColor;
}
button {
    cursor: pointer;
}

.header-nav {
margin-right: auto;
}

a {
    text-decoration: none;
}
ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
} 

                /* header */
.header-container {
    display: flex;
    align-items: center;

}
.logo {
    width: 145px;
    height: 31px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height:1.19;
    letter-spacing: 0.03em;
    color:var(--body-color);
}

.logo-blue {
    color:var(--accent-color);
    font-size: 26px;
    line-height: 1.19;
    font-family: Raleway;
    letter-spacing: 0.03em;
}
.logo-white {
    color:var(--primary-white-color);
}

.logo .logo-blue {
    margin-top: 24px;
}
.logo .logo-black {
    margin-top: 24px;
}

.header-nav {
    color:var(--body-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;
    height: 80px;

}
.header-nav .header-btn {
    margin-left: 93px;
    display: block;
    margin-top: 32px;
}
.header-nav .header-btn-black {
    margin-left: 50px;
    margin-top: 32px;
    display: block;
}


.header-btn-black{
    color:var(--body-color);
    
}
.header-btn{
    color:var(--accent-color);
    background-color: var(--primary-white-color);
    
}
.header-contact{
    /* display: flex; */
    margin-left: auto;}

/* .header-btn-black{
    margin-left: 0;
} */
.header-contact .header-grey{
    /* display: flex; */
    /* margin-top: 32px; */
    margin-left: 50px;
    

}

/* .header-btn:hover,
.header-btn:hover{
    text-decoration: underline;
} */
.header-grey{
    color:var(--second-color);
}
.header-grey:hover,
.header-grey:focus{
    color:var(--accent-color);
}
                /* main */
   
   .main-bg{
    background-color: var(--background-color);
    text-align: center;
    width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}
.main-bg .container{
    flex-direction: column;
    display: flex;
}
.main-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--primary-white-color);
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}
.main-btn-nav .main-btn {
    display: flex;
    
    gap: 8px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
 }


.main-btn-style {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height:calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--body-color);
    border: 4px solid var(--button-color);
    background-color: var(--button-color);
    border-radius: 4px;
    padding-top: 10px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 10px;
    margin: 30px auto 50px;
    
   
}
.main-btn-style:hover,
.main-btn-style:focus {
    color:var(--primary-white-color);
    background-color: var(--accent-color);
    border: 4px solid var(--accent-color);
    border-radius: 4px;
}
                /* section */
.section-gallery{
    /* display: flex; */
    /* flex-wrap: wrap; */
    margin-top: 50px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
   
}
.sect-gall-img {
    width: 370px;
    height: 404px;
}

.section-skills h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--body-color);

}
.section-skills p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color:var(--second-color);
}
.skills-title {
    margin-top: 94px;
    width: 270px;
    height: 16px;
    margin-right: 10px;
}
.skills-text {
    margin-top: 10px;
    width: 270px;
    height: 72px;
    margin-right: 30px;
   
}


/* .section-gallery h2{
    
} */
.work-gallery{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.gallery-title {
    /* width: 366px;
    height: 42px; */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--body-color);
    margin-left: auto;
    margin-right: auto;
}
.img-gallery {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
}
/* Team */
.section-team .container {
    display: flex;
    flex-direction: column;
}
.our-team {
color: var(--body-color);
margin-left: auto;
margin-right: auto;
}
.team-gallery {
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--indent);
}
.team-name {
margin-top: var(--indent);
}
.team-prof{
margin-top: 10px;
}
.section-team {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--body-color); 
}
.section-team h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--body-color);
}
.section-team p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--second-color);
    padding-bottom: 94px;
}
.section {
    color:var(--primary-white-color);
    cursor:pointer;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    font-style:normal;
    padding-top: 94px;
    
}
 .sect-gall-img .section-title{
    color:var(--body-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    width: 322px;
    height: 26px;
    margin-top: 20px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 4px;
}
.section-text{
    color:var(--second-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    text-align: left;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 20px;
}
                /* footer */

.footer {
    font-style:normal;
    background-color: var(--background-color);
    color:var(--body-color);
    
    font-family: Raleway;
    /* max-width: 1600px;
    max-height: 600px; */
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: flex-start; */
 }
 
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
    
    
}
.footer-container .logo{
    margin-top: 60px;
    margin-bottom: 20px;
}
 .footer-address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    
}
.address-map {
    color:var(--primary-white-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 231px;
    height: 21px;
    line-height: 1.71;
    letter-spacing: 0.03em;
   
}
.address-contact {
    
    color: var(--color-contact);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 231px;
    height: 21px;
    line-height: 1.71;
    letter-spacing: 0.03em;
   }
.footer-nav {
    
    margin-top: 9px;
    margin-left: 0px;
    margin-right: 1154px;
    margin-bottom: 9px;
    display: flex;

}
.footer-nav:last-child {
    margin-bottom: 60px;
}